body {
    font-family: "variex", sans-serif;
    background-color: #eaf4e2;
}

#container {
    margin: auto;
    width: 1200px;
    position: relative;
}

main {
    display: flex;
    width: 900px;
    margin: auto;
}

#result {
    justify-content: center;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #022200;
    margin: 30px;
}

nav {
    margin: auto;
    width: 1000px;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-size: 24px;
}

button {
    padding: 5px 10px;
    margin: 10px;
    color: white;
}

button:hover {
    cursor: pointer;
}

/* days button -- color */
#SUN {
    background-color: #df5087;
    border: 5px #ff6ca4 outset;
    color: #ffdbe9;
}

#MON {
    background-color: #2f8fd9;
    border: 5px #52a1de outset;
    color: white;
}

#TUE {
    background-color: #c9edaa;
    border: 5px #c8e4b0 outset;
    color: #3d5631;
}

#WED {
    background-color: #9936a6;
    border: 5px #ae49bc outset;
    color: #fbe1fe;
}

#THUR {
    background-color: #ffb400;
    border: 5px #ffbe27 outset;
    color: #6f4c0f;
}

#FRI {
    background-color: #ef3740;
    border: 5px #ff4d56 outset;
    color: white;
}

#SAT {
    background-color: #f35820;
    border: 5px #fc7544 outset;
    color: #fffaf8;
}

/* back button */
#button {
    position: absolute;
    top: -20px;
    right: 0;
    background-color: #022200;
    border: 5px #050705 outset;
    padding: 7px 12px;
}

#button a {
    text-decoration: none;
    color: white;
}

img {
    width: 500px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

p {
    color: #022200;
    font-size: 20px;
    text-align: center;
    /* font-family: 'Calistoga', cursive; */
    padding: 20px;
    line-height: 1.4em;
}