* {
    box-sizing: border-box;
}

body {
    background-color: #fffbfa;
    color: rgb(39, 39, 39);
    transition: all 2s;
    /* font-family: "manofa", sans-serif;
font-weight: 400;
font-style: normal; */
    font-family: "gambado-sans-forte", sans-serif;
font-weight: 700;
font-style: normal;
 
}

body.switch {
    background-color: #242929;
    /* background-color: #f0eae4; */
    color: #f0eae4;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
    padding-top: 2em;
}

header {
    margin: 0 auto 2em auto;
}

#banner {
    position: relative;
    width: 1100px;
    height: 250px;
    margin: auto;
    background-color: rgb(235, 235, 235);
    color: #333;
    overflow: hidden;
}

#banner.switch {
    /* background-color: ##5b6553; */
    /* color: #767972; */
    transition: all 2s;
}

main {
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
}

main section {
    width: 25%;
    border: 8px #f2fa8e outset;
    margin: 0 .25em;
    padding: 1em;
    background-color: #e2eb61;
}

main section.switch {
    border: 7px ridge white;
    border-color: #5b6553;
    background-color: #242929;
    /* background-color: #4b5445; */
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section li {
    padding-left: 1.2em;
}

section a {
    line-height: 1.1em;
    display: inline-block;
    padding: .5em;
    color: #5b6553;
}

section a:hover {
    color: #00A6A6;
}

section.switch a {
    color: #767972;
    /* color: #5b6553 */
}

section.switch a:hover {
    background-color: #242929;
    color: rgb(235, 235, 235);
}

button {
    position: absolute;
    top: 27px;
    right: 20px;
    padding: 12px;
    background-color: #e73f51;
    color: white;
    /* border: 1px solid transparent; */
    border: 5px #fe5f6f outset;
}

button:hover {
    background-color: #2f8fd9;
    border-color: #65abe1;
    cursor: pointer;
}

button.switch {
    background-color: rgb(235, 235, 235);
    border-color: white;
    color: #333;
}

button.switch:hover {
    background-color: #333;
    color: rgb(235, 235, 235);
    border-color: #333;
}

.colorBanner {
    display: grid;
    grid-template-columns: repeat(44, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.colorDiv {
    width: 25px;
    height: 25px;
}

.grayBanner {
    display: flex;
    height: 250px;
}

.grayDiv {
    flex: 1;
    height: 100%;
}

h1 {
    margin: 0;
    font-size: 38px;
}

header h2 {
    color: #FE4A49;
    margin: 12px 0 20px 0;
}

header h2.switch {
    color: #839872;
    /* background-color: rgb(235, 235, 235);
    color: #333;
    width: 550px; */
}