body {
    font-family: "ccmeanwhile", sans-serif;
}

p {
    font-family: "ccmeanwhile", sans-serif;
    position: absolute;
    font-size: 28px;
    top: 25%;
    left: 50%;
    animation: fadeIn 3s;
}

#rightArrow:hover, #rightArrow2:hover, #leftArrow:hover {
    cursor: pointer;
}

#rightArrow {
    height: 80px;
    position: absolute;
    right: 5%;
    top: 40%;
}

#rightArrow2 {
    height: 80px;
    position: absolute;
    right: 5%;
    top: 40%;
}

#leftArrow {
    height: 80px;
    position: absolute;
    left: 5%;
    top: 40%;
}

input[type="text"]:focus {
    outline: none;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
    position: absolute;
    bottom: 1%;
    width: 100%;
    /* height: 100vh; */
    /* flex-direction: row;
    align-items: flex-end; */
}

footer p {
    position: static;
    font-family: blambot-fx-pro,sans-serif;
    font-size: 20px;
    animation: none;
}

footer p a {
    text-decoration: none;
    color: grey;
}

/* first overlay */
#first {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width:1200px;
}

#face {
    width: 325px;
}

#text p {
    font-size: 30px;
}

/* input text */
#name {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    font-family: "ccmeanwhile", sans-serif;
    border: none;
    border-bottom: 5px solid red;
    width: 25%;
}

/* second overlay */
#second input {
    font-family: "ccmeanwhile", sans-serif;
    font-size: 32px;
    width: 300px;
    border: none;
    border-bottom: 5px solid red;
    background-color: transparent;
}

#textbubble {
    position: absolute;
    width: 200px;
    bottom: 20%;
    left: 28%;
}

#artist {
    margin-top: 60px;
}

#student {
    position: absolute;
    bottom: 15%;
    right: 25%;
}

#bubble1 {
    position: absolute;
    top: 15%;
    left: 40%;
}

#bubble2 {
    position: absolute;
    bottom: 10%;
    right: 40%;
}

/* third overlay */
#third p, h1 {
    position:static;
    text-align: center;
}

#third h1 {
    padding-bottom: 50px;
}

.sticker {
    width: 65px;
    height: 30px;
    background-color: rgba(255, 0, 0, 0.5);
    transform: rotate(-30deg);
    position: absolute;
    left: 40%;
    top: -7.5%;
}

#macy-container {
   width: 850px;
   margin: auto;
   padding-top: 50px;
}

/* macy */
.macy-item {
    background-color: rgb(254, 248, 195);
    /* overflow: hidden; */
    padding: 15px;
    /* margin: 50px; */
    position: relative;
    left: 0;
    top: 0;

}

.macy-item p {
    overflow-wrap: break-word;
    font-family: blambot-fx-pro,sans-serif;
    font-weight: 400;
    font-style: normal;
    animation: none;
}

.name {
    color: rgb(72, 37, 0);
}

/* walking animation */
#sprite-image1 {
    height: 325px;
    width: 484px;
    background: url(images/menwalking.svg) 0px 0px;
    position: absolute;
    left: 5%;
    top: 10%;
}
#sprite-image2 {
    height: 325px;
    width: 484px;
    background: url(images/studentwalking.svg) 0px 0px;
    background-position:  bottom;
    position: absolute;
    right: 5%;
    bottom: 10%;
}

/* show and hide overlays */
.showing {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

/* animation keyframes */
@keyframes slidein {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} 